<section>
  <!-- Content title begins / Début du titre du contenu -->
  <header>
    <h1 id="cn-cont">Welcome page (outside Quebec) - <abbr title="Common Look and Feel">CLF</abbr> 2.0 Theme - HTML5 - Web Experience Toolkit (WET) / <span lang="fr">Page d'accueil (hors de Québec) - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW)</span></h1>
  </header>
  <!-- Content Title ends / Fin du titre du contenu -->		
  
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <!-- Message space begins / Début de l'espace de message -->
  <div id="cn-msg-space" role="banner">
    <div id="cn-upper-msg"></div>
    <div id="cn-lower-msg">
      <p id="cn-left-msg"><%= l(:app_title, :locale => :en) %></p>
      <p id="cn-right-msg" lang="fr"><%= l(:app_title, :locale => :fr) %></p>
    </div>
  </div>
  <!-- Message space ends / Fin de l'espace de message -->

  <nav role="navigation">
    <ul id="cn-ef-lang-links">
      <li><a href="/english" title="English - English version of the Web site">English</a></li>
      <li lang="fr"><a href="/francais" title="Français - Version française de ce site Web">Français</a></li>
    </ul>
  <div id="cn-wmms"><%= image_tag 'wmms.gif', :plugin => 'redmine_clf2', :width => "83", :height=>"20", :alt=>"Symbol of the Government of Canada / Symbole du gouvernement du Canada", :title => "Symbol of the Government of Canada / Symbole du gouvernement du Canada" %></div>
  </nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</section>
