#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {background-color: #FFFFDC;}
#cn-banner, #cn-banner-eng, #cn-banner-fra {background: #eee url('../images/banner.png') no-repeat;}
#cn-banner #cn-banner-text, #cn-banner-eng #cn-banner-text, #cn-banner-fra #cn-banner-text {color: #000;}
#cn-banner p, #cn-banner-eng p, #cn-banner-fra p {color: #000;}
.cn-left-col-default h3 {background-color: #CC9;}
.cn-left-col-default h3, .cn-left-col-default h3 a:link, .cn-left-col-default h3 a:visited, .cn-right-col-default h3, .cn-right-col-default h3 a:link, .cn-right-col-default h3 a:visited {color: #000;}
.cn-left-col-default #cn-search-box #cn-search, .cn-search-box .cn-search {border: 1px solid #CC9;}
.cn-left-col-default #cn-search-box #cn-search-submit, .cn-search-box .cn-search-submit {background-color: #CC9;}
.cn-left-col-default li {background-color: #EEE; border-top: 1px solid #CC9;}
.cn-left-col-default li a:visited, .cn-right-col-default li a:visited, #cn-search-box a:visited {color: #000;}
.cn-left-col-default li a:hover, .cn-left-col-default li a:focus, .cn-left-col-default li a:active, .cn-right-col-default li a:hover, .cn-right-col-default li a:focus, .cn-right-col-default li a:active, #cn-search-box a:hover, #cn-search-box a:focus, #cn-search-box a:active {color: #000; background-color: #EEE; text-decoration: underline;}
#cn-pd-ul {border-top: 15px solid #CC9;}
.cn-right-col-default h3 {background-color: #CC9;}
#cn-in-pd {border-top: 15px solid #CC9;}
#login-form table {background-color: #eee; border: 2px solid #cc9;}
.nodata, .warning {background-color: #eee; border-color: #cc9;}
.contextual input, .contextual select { font-size: 12px; margin-top: -5px; }
* html .contextual input, * html .contextual select {margin-top: auto;}

#content { width: auto; background-color: auto; margin: auto; border-right: auto; padding: auto; z-index: auto; }
* html #content{ width: auto; padding-left: 0auto; margin-top: auto; padding: auto;}
html>body #content { min-height: auto; } 
* html body #content { height: auto; } /* IE */

div.colLayout {
	background-color: #FFF;
	height: 100%;
}

/* FIP HEADER CSS BEGINS | DEBUT DU CSS DE L'EN-TETE PCIM */
div.fip, div.cwm {
	height: 20px;
}
div.cwm img {
	padding-top: 0px;
}
/* FIP HEADER CSS ENDS | FIN DU CSS DE L'EN-TETE PCIM */

/* SKIP NAVIGATION CSS BEGINS | DEBUT DU CSS DU SAUT DE NAVIGATION */
div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
* html div.page div.core div.navaid {
	width: 300px;
	padding-left: 180px;
}
*:first-child+html div.page div.core div.navaid {
	width: 300px;
	padding-left: 180px;
}
div.page div.core div.navaid a:hover,
div.page div.core div.navaid a:active,
div.page div.core div.navaid a:focus {
	color: #000;
	background-color: #CC9;
	border-color: #000;
}
/* SKIP NAVIGATION CSS ENDS | FIN DU CSS DU SAUT DE NAVIGATION */

/* GENERAL NAVIGATION CSS BEGINS | DEBUT DU CSS DE NAVIGATION GENERALE */
div.left h2.nav, div.left h2.nav a:link, div.left h2.nav a:visited, div.left div.h2nav, div.left div.h2nav a:link, div.left div.h2nav a:visited, div.left p.h2nav, div.left p.h2nav a:link, div.left p.h2nav a:visited, div.right h2.nav, div.right h2.nav a:link, div.right h2.nav a:visited, div.right div.h2nav, div.right div.h2nav a:link, div.right div.h2nav a:visited, div.right p.h2nav, div.right p.h2nav a:link, div.right p.h2nav a:visited {
	background-color: #CC9;
	color: #000;
	text-decoration: none;
}
div.left h2.nav a:hover, div.left h2.nav a:active, div.left h2.nav a:focus, div.left div.h2nav a:hover, div.left div.h2nav a:active, div.left div.h2nav a:focus, div.left p.h2nav a:hover, div.left p.h2nav a:active, div.left p.h2nav a:focus, div.right h2.nav a:hover, div.right h2.nav a:active, div.right h2.nav a:focus, div.right div.h2nav a:hover, div.right div.h2nav a:active, div.right div.h2nav a:focus, div.right p.h2nav a:hover, div.right p.h2nav a:active, div.right p.h2nav a:focus {
	text-decoration: underline;
}
div.right li ul.nav, div.right li p.nav, div.right li div.nav {
	border: 1px solid #CC9;
}
/* GENERAL NAVIGATION CSS ENDS | FIN DU CSS DE NAVIGATION GENERALE */

/* SIDE MENU CSS BEGINS | DEBUT DU CSS DU MENU LATERAL */
div.left li.menucontent, div.left div.menucontent {
	border-bottom: 1px solid #CC9;
}
div.left li.menucontent, div.left div.menucontent, div.left a.menulink {
	color: #000;
	background-color: #EEE;
}
div.right li.menucontent, div.right div.menucontent {
	color: #000;
	background-color: #FFF;
}
div.right a.menulink {
	color: #000;
	background-color: #FFF;
}
div.prodis {
	background-color: #CC9;
}
/* SIDE MENU CSS ENDS | FIN DU CSS DU MENU LATERAL */

