@charset "utf-8";
/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
#cn-skip-head {float: none;}
#cn-skip-head ul {float: left;}
#cn-skip-head a:link, #cn-skip-head a:visited {filter:alpha(opacity=0);}
#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {filter:alpha(opacity=100);}


