/* CLF2 OVERRIDES */
#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {background-color: #CC9; color: #000;}
#cn-banner, #cn-banner-eng, #cn-banner-fra {background: #eee url('../images/banner.png') no-repeat;}
#cn-banner #cn-banner-text, #cn-banner-eng #cn-banner-text, #cn-banner-fra #cn-banner-text {color: #000;}
#cn-banner p, #cn-banner-eng p, #cn-banner-fra p {color: #000;}
.cn-left-col-default h3 {background-color: #CC9;}
.cn-left-col-default h3, .cn-left-col-default h3 a:link, .cn-left-col-default h3 a:visited, .cn-right-col-default h3, .cn-right-col-default h3 a:link, .cn-right-col-default h3 a:visited {color: #000;}
.cn-left-col-default #cn-search-box #cn-search, .cn-search-box .cn-search {border: 1px solid #CC9;}
.cn-left-col-default #cn-search-box #cn-search-submit, .cn-search-box .cn-search-submit {background-color: #CC9;}
.cn-left-col-default li {background-color: #EEE; border-top: 1px solid #CC9;}
.cn-left-col-default li a:visited, .cn-right-col-default li a:visited, #cn-search-box a:visited {color: #000;}
.cn-left-col-default li a:hover, .cn-left-col-default li a:focus, .cn-left-col-default li a:active, .cn-right-col-default li a:hover, .cn-right-col-default li a:focus, .cn-right-col-default li a:active, #cn-search-box a:hover, #cn-search-box a:focus, #cn-search-box a:active {color: #000; background-color: #EEE; text-decoration: underline;}
#cn-pd-ul {border-top: 15px solid #CC9;}
.cn-right-col-default h3 {background-color: #CC9;}
#cn-in-pd {border-top: 15px solid #CC9;}
#cn-centre-col-inner h2 {margin-top: 0; padding-top: 0;}

/* REDMINE OVERRIDES */
#login-form table {background-color: #eee; border: 2px solid #cc9;}
.nodata, .warning {background-color: #eee; border-color: #cc9;}
.contextual input, .contextual select { font-size: 12px; margin-top: -5px; }
* html .contextual input, * html .contextual select {margin-top: auto;}
#content { width: auto; background-color: auto; margin: 0; border-right: auto; padding: 0; padding-right: 10px; z-index: auto; }
* html #content{ width: auto; padding-left: auto; margin-top: 0; padding: auto;}
html>body #content { min-height: none; } 
* html body #content { height: auto; } /* IE */
div#context-menu { margin-top: -200px; }

div.colLayout {
	background-color: #FFF;
	height: 100%;
}
