@charset "utf-8";
/* Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
*/
@media print {
	#cn-head {float: none;}
	#cn-lang-links, #cn-leaf, #cn-bcrumb, .cn-toppage, #cn-cmb, #cn-toppage-foot, #cn-in-pd-links {display: none;}
	#cn-wmms {margin: 0; padding: 0;}
	#cn-banner, #cn-banner-eng, #cn-banner-fra {float: left; width: 60%; background-color: transparent; text-align: left;}
	#cn-banner #cn-banner-text, #cn-banner-eng #cn-banner-text, #cn-banner-fra #cn-banner-text {float: left; width: auto; color: #000; padding: 0; margin: 0;}
	#cn-centre-col {border-top: 1px solid #000; padding-top: 10px;}
}


