<h1>Help</h1>

<p>
  To learn more about Redmine, visit <a href="http://www.redmine.org/guide">http://www.redmine.org/guide</a>
</p>

<p>
  To report a problem with this website, contact <a href="mailto:pacificweb.services@pwgsc.gc.ca">Pacific Web Services</a> or <a href="/projects/redmine/issues">create a ticket under the Redmine project</a>
</p>

