<h1>Aide</h1>

<p>
  Pour en savoir plus sur Redmine, visitez <a href="http://www.redmine.org/guide">http://www.redmine.org/guide</a>
</p>

<p>
  Pour signaler un problème avec ce site, veuillez contacter <a href="mailto:pacificweb.services@pwgsc.gc.ca">Pacific Web Services</a> ou <a href="/projects/redmine/issues">créer un ticket dans le cadre du projet Redmine</a>
</p>

