	<!-- CONTENT BEGINS | DEBUT DU CONTENU --> 
	<div class="center">
		<div class="blackborder" id="box1">
			<h1><a name="cont" id="cont">
			<!-- CONTENT TITLE BEGINS | DEBUT DU TITRE DU CONTENU -->
      <%= page_header_title %>
			<!-- CONTENT TITLE ENDS | FIN DU TITRE DU CONTENU -->
			</a></h1>
