	<!-- FIP HEADER BEGINS | DEBUT DE L'EN-TETE PCIM -->
	<div class="fip"><a name="tphp" id="tphp">
		<%= '<img src="http://www.tbs-sct.gc.ca/cioscripts/images/sig-tbs-eng.gif" width="386" height="20" alt="Treasury Board of Canada Secretariat" />' unless current_language() == 'fr' %>
		<%= '<img src="http://www.tbs-sct.gc.ca/cioscripts/images/sig-tbs-fra.gif" width="386" height="20" alt="Treasury Board of Canada Secretariat" />' if current_language() == 'fr' %>
	</a></div>
	<div class="cwm"><img src="http://www.tbs-sct.gc.ca/cioscripts/images/clf2/wmms.gif" width="83" height="20" alt="Symbol of the Government of Canada" /></div>
	<!-- FIP HEADER ENDS | FIN DE L'EN-TETE PCIM -->