	<!-- FIP HEADER BEGINS | DEBUT DE L'EN-TETE PCIM --> 
	<div class="fip"><a name="tphp" id="tphp"><%= image_tag 'sig-eng.gif', :plugin => 'redmine_clf2', :width => '372', :height => '20', :alt => "Government of Canada" %></a></div>
	<div class="cwm"><%= image_tag 'wmms.gif', :plugin => 'redmine_clf2', :width => "83", :height=>"20", :alt=>"Symbol of the Government of Canada" %></div>
	<!-- FIP HEADER ENDS | FIN DE L'EN-TETE PCIM --> 
	
	<!-- INSTITUTIONAL BANNER STARTS | DEBUT DE LA BANNIERE INSTITUTIONNELLE -->
	<div class="banner">
		<%= image_tag 'lffl.png', :plugin => 'redmine_clf2', :width => "65", :height=>"65", :class=>"lf pngfix" %>
		<p class="main">Intellectual Resources Canada</p>
		<p class="siteuri">Franchise of the Chief Information Officer, and the Chief Technology Officer, Treasury Board Secretariat</p>
		<p class="siteuri">tbscio.ircan.gc.ca</p>
	</div>
	<!-- INSTITUTIONAL BANNER ENDS | FIN DE LA BANNIERE INSTITUTIONNELLE -->
	
	<!-- SKIP NAVIGATION BEGINS | DEBUT DU SAUT DE NAVIGATION -->
	<div class="navaid">
		<a href="#cont">Skip to content</a> |
		<a href="#il">Skip to institutional links</a>
	</div>
	<!-- SKIP NAVIGATION ENDS | FIN DU SAUT DE NAVIGATION -->
	
	<!-- COMMON MENU BAR BEGINS | DEBUT DE LA BARRE DE MENU COMMUNE --> 
	<div class="fp">
		<!-- COMMON MENU BAR TITLE BEGINS | DEBUT DU TITRE DE LA BARRE DE MENU COMMUNE -->
		<h1 class="navaid">Common menu bar links</h1>
		<!-- COMMON MENU BAR TITLE ENDS | FIN DU TITRE DE LA BARRE DE MENU COMMUNE -->
		<ul class="commonbar">
			<!-- FRENCH LINK BEGINS | DEBUT DU LIEN FRANCAIS -->
			<li class="fiptexta"><div><a href="/french" lang="fr" xml:lang="fr" title="Fran&ccedil;ais - Version fran&ccedil;aise de cette page">Fran&ccedil;ais</a></div></li>
			<!-- FRENCH LINK ENDS | FIN DU LIEN FRANCAIS -->
			<li class="fiptext"><div><a href="http://www.tbs-sct.gc.ca/tbs-sct/index-eng.asp" title="Home - The main page of the Treasury Board of Canada Secretariat Web site">Home</a></div></li>
			<li class="fiptextc"><div><a href="http://www.tbs-sct.gc.ca/tbs-sct/cmn/contact-eng.asp" title="Contact Us - Treasury Board of Canada Secretariat contact information">Contact Us</a></div></li>
			<li class="fiptext"><div><a href="http://tbscio.ircan.gc.ca/wiki/ircan-initiative/Frequently_Asked_Questions" title="Help - Information about using the TBSCIO Proof of Concept Environment">Help</a></div></li>
			<li class="fiptext"><div><a href="/search" title="Search - Search the TBSCIO Proof of Concept Environment">Search</a></div></li>
			<li class="fiptextb"><div><a href="http://www.canada.gc.ca/home.html" title="canada.gc.ca - Government of Canada Web site">canada.gc.ca</a></div></li>
		</ul>
	</div>
	<!-- COMMON MENU BAR ENDS | FIN DE LA BARRE DE MENU COMMUNE --> 
	<!-- HEADER ENDS | FIN DE L'EN-TETE --> 
