	<!-- DEBUT DU CONTENU | CONTENT BEGINS --> 
	<div class="center">
		<div class="blackborder" id="box1">
			<h1><a name="cont" id="cont">
			<!-- DEBUT DU TITRE DU CONTENU | CONTENT TITLE BEGINS -->
      <%= page_header_title %>
			<!-- FIN DU TITRE DU CONTENU | CONTENT TITLE ENDS -->
			</a></h1>
