	
	<!-- SKIP NAVIGATION BEGINS | DEBUT DU SAUT DE NAVIGATION -->
	<div class="navaid">
		<a href="#cont">Skip to content</a> |
		<a href="#il">Skip to institutional links</a>
	</div>
	<!-- SKIP NAVIGATION ENDS | FIN DU SAUT DE NAVIGATION -->
