	<!-- DEBUT DU CONTENU | CONTENT BEGINS  --> 
	<div class="centerwrap">
	<div class="center">
<!--		<div class="blackborder" id="box1"> -->
			<h1><a name="cont" id="cont">
			<!-- DEBUT DU TITRE DU CONTENU | CONTENT TITLE BEGINS -->
			<%= h(@project && !@project.new_record? ? @project.name : Setting.app_title) %>
			<!-- FIN DU TITRE DU CONTENU | CONTENT TITLE ENDS -->
			</a></h1>
