	<!-- DEBUT DE L'EN-TETE PCIM | FIP HEADER BEGINS --> 
	<div class="fip"><a name="tphp" id="tphp"><%= image_tag 'sig-eng.gif', :plugin => 'redmine_clf2', :width => '372', :height => '20', :alt => "FRANGLISHPLUGIN ORG" %></a></div>
	<div class="cwm"><img src="/assets/images/symbol.png" width="83" height="20" alt="Symbole du FRANGLISHPLUGIN" /></div>
	<!-- FIN DE L'EN-TETE PCIM | FIP HEADER ENDS --> 
	
	<!-- DEBUT DE LA BANNIERE INSTITUTIONNELLE | INSTITUTIONAL BANNER STARTS -->
	<div class="banner">
		<%= image_tag 'logo.png', :plugin => 'redmine_clf2', :class=>"lf pngfix" %>
		<p class="main">FRANGLISHPLUGIN INSTANCE</p>
		<p class="siteuri">FRANGLISHPLUGIN INSTANCE LONGER NAME</p>
		<p class="siteuri">FRENCH SITE URL</p>
	</div>
	<!-- FIN DE LA BANNIERE INSTITUTIONNELLE | INSTITUTIONAL BANNER ENDS-->
	
	<!-- DEBUT DU SAUT DE NAVIGATION | SKIP NAVIGATION BEGINS -->
	<div class="navaid">
		<a href="#cont">Passer au contenu</a> |
		<a href="#il">Passer aux liens institutionnels</a>
	</div>
	<!-- FIN DU SAUT DE NAVIGATION | SKIP NAVIGATION ENDS -->
	
	<!-- DEBUT DE LA BARRE DE MENU COMMUNE | COMMON MENU BAR BEGINS --> 
	<div class="fp">
		<!-- DEBUT DU TITRE DE LA BARRE DE MENU COMMUNE | COMMON MENU BAR TITLE BEGINS -->
		<h1 class="navaid">Liens de la barre de menu commune</h1>
		<!-- FIN DU TITRE DE LA BARRE DE MENU COMMUNE | COMMON MENU BAR TITLE ENDS -->
		<ul class="commonbar">
			<!-- DEBUT DU LIEN ANGLAIS | ENGLISH LINK BEGINS -->
			<li class="fiptexta"><div><a href="/english" lang="en" xml:lang="en" title="English - English version of the Web page">English</a></div></li>
			<!-- FIN DU LIEN ANGLAIS | ENGLISH LINK ENDS -->
			<li class="fiptext"><div><a href="/" title="Accueil - Page principale de la FRANGLISHPLUGIN">Accueil</a></div></li>
			<li class="fiptextc"><div><a href="/contactus" title="Contactez-nous - Communiquez avec la FRANGLISHPLUGIN">Contactez-nous</a></div></li>
			<li class="fiptext"><div><a href="/projects/help-aide" title="Aide - Renseignements sur la fa&ccedil;on d'utiliser ce site Web">Aide</a></div></li>
			<li class="fiptext"><div><a href="/search" title="Recherche - Recherche dans la FRANGLISHPLUGIN">Recherche</a></div></li>
		</ul>
	</div>
	<!-- FIN DE LA BARRE DE MENU COMMUNE | COMMON MENU BAR ENDS --> 
	<!-- FIN DE L'EN-TETE | HEADER ENDS --> 
