	<!-- DEBUT DE LA PISTE DE NAVIGATION | BREAD CRUMB BEGINS -->
	<p class="breadcrumb"><a href="/tbs-sct/index-fra.asp"><acronym title="Secr&eacute;tariat du Conseil du Tr&eacute;sor du Canada">SCT</acronym></a> &gt; <acronym title="Ressources Intellectuelles Canada">RICan</acronym></p>
	<!-- FIN DE LA PISTE DE NAVIGATION | BREAD CRUMB ENDS -->