	<!-- VERSION 1.04 DU GABARIT NSI 2.0 | CLF 2.0 TEMPLATE VERSION 1.04 -->
	<!-- DEBUT DE L'EN-TETE | HEADER BEGINS -->
	<!-- DEBUT DU TITRE | TITLE BEGINS -->
	<title><%=h html_title %></title>
	<!-- FIN DU TITRE | TITLE ENDS -->

	<!-- DEBUT DES METADONNEES | METADATA BEGINS -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
	<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />
	<meta name="dc.description" content="<%=h html_title %>" />
	<meta name="description" content="<%=h html_title %>" />
	<meta name="keywords" content="Environnement, validation, principe, franchise, SCT, Ressources, Intellectuelles, Canada, enjeu, bogue, traqueur" />
	<meta name="dc.creator" content="Gouvernement du Canada, Conseil du Trsor du Canada, Secrtariat, Secrtariat du Conseil du Trsor du Canada, Direction du dirigeant principal de l'information, Technologie de l'information, Ressources Intellectuelles Canada" />
	<meta name="dc.title" content="<%=h html_title %>" />
	<meta name="dcterms.issued" scheme="W3CDTF" content="2008-12-19" />
	<meta name="dcterms.modified" scheme="W3CDTF" content="2009-02-04" />
	<meta name="dc.language" scheme="ISO639-2/T" content="fra" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="none" />
	<!-- FIN DES METADONNEES | METADATA ENDS -->

	<!-- DEBUT DES SCRIPTS/CSS DU GABARIT | TEMPLATE SCRIPTS/CSS BEGIN -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base.css" media="screen, print" rel="stylesheet" type="text/css" />
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/3col.css" media="screen, print" rel="stylesheet" type="text/css" />
	<style type="text/css" media="all">@import url(http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base2.css);</style>
	<!-- FIN DES SCRIPTS/CSS DU GABARIT | TEMPLATE SCRIPTS/CSS END -->
	
	<!-- DEBUT DE L'AMELIORATION PROGRESSIVE | PROGRESSIVE ENHANCEMENT BEGINS -->
	<script src="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/pe-ap.js" type="text/javascript"></script>
	<script type="text/javascript">
	/* <![CDATA[ */
		var params = {
			lng:"fra",
			pngfix:"http://www.tbs-sct.gc.ca/cioscripts/images/clf2/inv.gif"
		};
		PE.progress(params);
	/* ]]> */
	</script>
	<!-- FIN DE L'AMELIORATION PROGRESSIVE | PROGRESSIVE ENHANCEMENT ENDS -->

	<!-- DEBUT DES SCRIPTS/CSS PERSONNALISES | CUSTOM SCRIPTS/CSS BEGIN -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base-institution.css" media="screen, print" rel="stylesheet" type="text/css" />
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/institution.css" media="screen, print" rel="stylesheet" type="text/css" />
	<!-- FIN DES SCRIPTS/CSS PERSONNALISES | CUSTOM SCRIPTS/CSS END -->

	<!-- DEBUT DU CSS DU GABARIT POUR L'IMPRESSION | TEMPLATE PRINT CSS BEGINS -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/pf-if.css" rel="stylesheet" type="text/css" />
	<!-- FIN DU CSS DU GABARIT POUR L'IMPRESSION | TEMPLATE PRINT CSS ENDS -->