hi
	<!-- BREAD CRUMB BEGINS | DEBUT DE LA PISTE DE NAVIGATION -->
	<p class="breadcrumb">
		<%= '<a href="http://www.tbs-sct.gc.ca/tbs-sct/index-eng.asp"><acronym title="Treasury Board of Canada Secretariat">TBS</acronym></a> &gt; <acronym title="Intellectual Resources Canada">IRCan</acronym></p>' unless current_language() == 'fra' %>
		<%= '<a href="http://www.tbs-sct.gc.ca/tbs-sct/index-eng.asp"><acronym title="Treasury Board of Canada Secretariat">TBS</acronym></a> &gt; <acronym title="Intellectual Resources Canada">IRCan</acronym></p>' if current_language() == 'fra' %>
	<!-- BREAD CRUMB ENDS | FIN DE LA PISTE DE NAVIGATION -->
