	<!-- DEBUT DU MENU LATERAL DROIT | RIGHT SIDE MENU BEGINS --> 
	<div class="right">
        <ul class="nav">
          <%= tag('div', {:id => 'main', :class => (has_content?(:sidebar) ? '' : 'nosidebar')}, true) %></div>
          <div id="sidebar"><%= yield :sidebar %></div>
        </ul>
	</div>
	<!-- FIN DU MENU LATERAL DROIT | RIGHT SIDE MENU ENDS --> 
