	
	<!-- INSTITUTIONAL BANNER STARTS | DEBUT DE LA BANNIERE INSTITUTIONNELLE -->
	<div class="banner">
		<img src="http://www.tbs-sct.gc.ca/cioscripts/images/clf2/lffl.gif" class="lf pngfix" height="65" width="65" alt="" />
		<p class="main">Treasury Board of Canada Secretariat</p>
		<p class="siteuri">www.tbs-sct.gc.ca</p>
	</div>
	<!-- INSTITUTIONAL BANNER ENDS | FIN DE LA BANNIERE INSTITUTIONNELLE -->
