	<!-- CLF 2.0 TEMPLATE VERSION 1.04 | VERSION 1.04 DU GABARIT NSI 2.0 -->
	<!-- HEADER BEGINS | DEBUT DE L'EN-TETE -->
	<!-- TITLE BEGINS | DEBUT DU TITRE -->
	<title><%=h html_title %></title>
	<!-- TITLE ENDS | FIN DU TITRE -->

	<!-- META DATA BEGINS | DEBUT DES META DONNEES -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
	<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />
	<meta name="dc.description" content="<%=h html_title %>" />
	<meta name="description" content="<%=h html_title %>" />
	<meta name="keywords" content="TBS, Franchise, Intellectual, Resources, Canada, Proof-of-Concept, Environment, issue, bug, tracker" />
	<meta name="dc.creator" content="Government of Canada, Treasury Board of Canada, Secretariat, Treasury Board of Canada Secretariat, Chief Information Officer Branch, Information Technology, Intellectual Resources Canada" />
	<meta name="dc.title" content="<%=h html_title %>" />
	<meta name="dcterms.issued" scheme="W3CDTF" content="2008-12-19" />
	<meta name="dcterms.modified" scheme="W3CDTF" content="2009-02-04" />
	<meta name="dc.language" scheme="ISO639-2/T" content="eng" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="none" />
	<!-- META DATA ENDS | FIN DES META DONNEES -->

	<!-- TEMPLATE SCRIPTS/CSS BEGIN | DEBUT DES SCRIPTS/CSS DU GABARIT -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base.css" media="screen, print" rel="stylesheet" type="text/css" />
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/3col.css" media="screen, print" rel="stylesheet" type="text/css" />
	<style type="text/css" media="all">@import url(http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base2.css);</style>
	<!-- TEMPLATE SCRIPTS/CSS END | FIN DES SCRIPTS/CSS DU GABARIT -->
	
	<!-- PROGRESSIVE ENHANCEMENT BEGINS | DEBUT DE L'AMELIORATION PROGRESSIVE -->
	<script src="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/pe-ap.js" type="text/javascript"></script>
	<script type="text/javascript">
	/* <![CDATA[ */
		var params = {
			lng:"eng",
			pngfix:"http://www.tbs-sct.gc.ca/cioscripts/images/clf2/inv.gif"
		};
		PE.progress(params);
	/* ]]> */
	</script>
	<!-- PROGRESSIVE ENHANCEMENT ENDS | FIN DE L'AMELIORATION PROGRESSIVE -->

	<!-- CUSTOM SCRIPTS/CSS BEGIN | DEBUT DES SCRIPTS/CSS PERSONNALISES -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/base-institution.css" media="screen, print" rel="stylesheet" type="text/css" />
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/institution.css" media="screen, print" rel="stylesheet" type="text/css" />
	<!-- CUSTOM SCRIPTS/CSS END | FIN DES SCRIPTS/CSS PERSONNALISES -->

	<!-- TEMPLATE PRINT CSS BEGINS | DEBUT DU CSS DU GABARIT POUR L'IMPRESSION -->
	<link href="http://www.tbs-sct.gc.ca/cioscripts/styles/clf2/pf-if.css" rel="stylesheet" type="text/css" />
	<!-- TEMPLATE PRINT CSS ENDS | FIN DU CSS DU GABARIT POUR L'IMPRESSION -->
