<!-- Footer begins / Début du pied de page --> 
<div id="cn-foot"><div id="cn-foot-inner">
<footer>
  <h2>Footer</h2>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <div id="cn-in-pd">			
    <dl id="cn-doc-dates" role="contentinfo">
      <dt>Date Modified:</dt>
      <dd><span><time>2010-08-09</time></span></dd>
    </dl>
    <div id="cn-toppage-foot"><a href="#cn-tphp" title="Return to Top of Page">Top of Page</a></div>
    <div id="cn-in-pd-links">
      <ul>
        <li id="cn-inotices-link"><a href="#" rel="license">Important Notices</a></li>
      </ul>
    </div>
  </div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</footer>
</div></div>
<!-- Footer ends / Fin du pied de page -->

