<!-- Skip header begins / Début du saut de l'en-tête -->
<div id="cn-skip-head">
<nav>
  <ul id="cn-tphp">
    <li id="cn-sh-link-1"><a href="#cn-cont">Passer au contenu principal</a></li>
    <li id="cn-sh-link-2"><a href="#cn-nav">Passer à la navigation principale</a></li>
  </ul>
</nav>
</div>
<!-- Skip header ends / Fin du saut de l'en-tête -->

<!-- Header begins / Début de l'en-tête -->
<div id="cn-head"><div id="cn-head-inner">
<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <div id="cn-sig"><img src="images/sig-fra.gif" width="372" height="20" alt="Gouvernement du Canada" title="Gouvernement du Canada" /></div>
  <div id="cn-wmms"><img src="images/wmms.gif" width="83" height="20" alt="Symbole du gouvernement du Canada" title="Symbole du gouvernement du Canada" /></div>

  <!-- Banner begins / Début de la bannière -->
  <div id="cn-leaf"></div>
  <div id="cn-banner" role="banner">
    <p id="cn-banner-text">Nom de l'institution</p>
    <p>[www.]siteprimaire-mainsite.gc.ca</p>
  </div>
  <!-- Banner ends / Fin de la bannière -->

  <nav role="navigation">
   <%= render :partial => 'layouts/cn-cmb' %>

    <!-- Breadcrumb begins / Début du fil d'Ariane -->
    <div id="cn-bcrumb">
      <h2>Fil d'Ariane</h2>
      <ol>
        <li><a rel="up up up" href="#" title="Accueil - Page principale du site Web">Accueil</a>&#160;&#62;</li>
        <li><a rel="up up" href="#">Niveau&#160;1</a>&#160;&#62;</li>
        <li><a rel="up" href="#">Niveau&#160;2</a>&#160;&#62;</li>
        <li>3&#160;colonnes - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW)</li>
      </ol>
    </div>
    <!-- Breadcrumb ends / Fin du fil d'Ariane -->
  </nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</header>
</div></div>
<!-- Header ends / Fin de l'en-tête -->
