<div id="cn-right-col-gap"></div>
<div id="cn-right-col" role="complementary"><div id="cn-right-col-inner">
  <section>
    <h2>Contenu supplémentaire (colonne droite)</h2>
    <div class="cn-right-col-default">
    <!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
    <nav role="navigation">
      <h3>Section&#160;1</h3>
      <div>
        <ul>
          <li><a href="#">Article&#160;1a</a>
          <ul>
            <li><a href="#">Article&#160;1b</a></li>
            <li><a href="#">Article&#160;2b</a></li>
          </ul>
          </li>
          <li><a href="#">Article&#160;2a</a></li>
          <li><a href="#">Article&#160;3a</a></li>
        </ul>	
      </div>
    </nav>
    <section>
      <h3>Section&#160;2</h3>
      <div>
        <p>Contenu de la section&#160;2</p>
      </div>
    </section>
    <section>
      <h3>Section&#160;3</h3>
      <div>
        <p>Contenu de la section&#160;3</p>
      </div>
    </section>
    <!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
    </div>
  </section>
</div></div>
