<!-- Skip header begins / Début du saut de l'en-tête -->
<div id="cn-skip-head">
<nav>
  <ul id="cn-tphp">
    <li id="cn-sh-link-1"><a href="#cn-cont">Passer au contenu principal</a></li>
    <li id="cn-sh-link-2"><a href="#cn-nav">Passer à la navigation principale</a></li>
  </ul>
</nav>
</div>
<!-- Skip header ends / Fin du saut de l'en-tête -->
