<!-- Common menu bar begins / Début de la barre de menu commune -->
<div id="cn-cmb">
  <h2>Common menu bar</h2>
  <ul>
    <li id="cn-cmb1"><a href="<%= change_locale_link("fr") %>" lang="fr" title="Français - Version française de cette page">Français</a></li>
    <li id="cn-cmb2"><a href="/" title="Home - Main page of the Web site">Home</a></li>
    <li id="cn-cmb3"><a href="/contact" title="Contact Us - Important contact information">Contact Us</a></li>
    <li id="cn-cmb4"><a href="/help" title="Help - Information about using the Web site">Help</a></li>
    <li id="cn-cmb5"><a rel="search" href="/search" title="Search - Search the Web site">Search</a></li>
    <li id="cn-cmb6"><a rel="external" href="http://www.canada.gc.ca/home.html" title="canada.gc.ca - Government of Canada Web site">canada.gc.ca</a></li>
  </ul>
</div>
<!-- Common menu bar ends / Fin de la barre de menu commune -->
