<!-- Common menu bar begins / Début de la barre de menu commune -->
<div id="cn-cmb">
  <h2>Barre de menu commune</h2>
  <ul>
    <li id="cn-cmb1"><a href="<%= change_locale_link("en") %>" lang="en" title="English - English version of the Web page">English</a></li>
    <li id="cn-cmb2"><a href="/" title="Accueil - Page principale du site Web">Accueil</a></li>
    <li id="cn-cmb3"><a href="/contactez-nous" title="Contactez-nous - Coordonnées importantes">Contactez-nous</a></li>
    <li id="cn-cmb4"><a href="/aide" title="Aide - Renseignements sur la façon d'utiliser le site Web">Aide</a></li>
    <li id="cn-cmb5"><a rel="search" href="/search" title="Recherche - Recherche dans le site Web">Recherche</a></li>
    <li id="cn-cmb6"><a rel="external" href="http://www.canada.gc.ca/accueil.html" title="canada.gc.ca - Site Web du gouvernement du Canada">canada.gc.ca</a></li>
  </ul>
</div>
<!-- Common menu bar ends / Fin de la barre de menu commune -->
